body{
  background: #1E555C;
  color: white;
}

#wrapper {
  width:650px;
  height:500px;
  /* margin: auto; */
  margin-left: 20px;
  margin-top:400px;
  /* display:flex; */
  /* border: 1px solid black; */
}

#title {
  text-align: center;
}

#break-label{
  display: inline-block;
  width: 250px;
  /* background: red; */
  padding: 25px;
  text-align: center;
  /* border: 2px solid magenta; */
  margin: 0 15px;
}

#session-label {
  display: inline-block;
  width: 250px;
  /* background: yellowgreen; */
  padding: 25px;
  text-align: center;
  /* border: 2px solid magenta; */

}

#timer-label {
  margin:auto;
  margin-top: 25px;
  width:250px;
  text-align: center;
  border: 7px solid #13353a;
  border-radius: 35px; 
}

.controls {
  font-size: 2rem;
  margin:auto;
  margin-top: 25px;
  width: 200px;;
  /* border: 2px solid magenta;  */
  text-align: center;
}

#reset {
  margin-left: 1.2rem;
}

.arrow {
  font-size: 2rem;
  margin: 0 1.5rem;
  cursor: pointer;
}